
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/spcss@0.5.0">

<h1>{{ assign }}: Jobs</h1>

<form action="retrigger_queued" method="post">
    <button type="submit">Retrigger Queued Jobs</button>
</form>


<form action="retrigger_queued" method="post">
    <button type="submit">Cancel Queued Jobs</button>
</form>


{% for batch in batches %}
<h2>{{ batch | dt }} ({{100 * batches[batch]["completed"]/batches[batch]["total"]}}% done)</h2>
<pre>
    Items to Grade: {{ batches[batch]["total"] }} (<a href="/{{course}}/{{assign}}/jobs?queued_at={{batch}}">See details</a>)

    Queued: {{ batches[batch]["queued"] }} (<a href="/{{course}}/{{assign}}/jobs?queued_at={{batch}}&status=queued">See details</a>)
    Running: {{ batches[batch]["running"] }} (<a href="/{{course}}/{{assign}}/jobs?queued_at={{batch}}&status=running">See details</a>)
    Successful: {{ batches[batch]["finished"] }} (<a href="/{{course}}/{{assign}}/jobs?queued_at={{batch}}&status=finished">See details</a>)
    Failed: {{ batches[batch]["failed"] }} (<a href="/{{course}}/{{assign}}/jobs?queued_at={{batch}}&status=failed">See details</a>)
</pre>
{% endfor %}

{% if queued_at != "0" %}
<h3>Job Details</h3>
{% for job in batches[queued_at]["jobs"] %}

<p>Job for {{ job["backup"] }} ({{ job["status"] }}) (<a href="/{{course}}/job/{{job['id']}}">see details</a>)</p>

{% endfor %}
{% endif %}
